---
import Page from "../layouts/page.astro";
---

<Page>
	<div class = "border-red-100">
		<img class = "w-1/5" src = "/public/mechasparrow.png"/>	
	</div>

	<h1 class = "text-3xl font-bold"> Hello world </h1>
	<p>
		Welcome to my website
	</p>
</Page>