---
import Page from "../layouts/page.astro";
---

<Page>
	<div class = "border-red-100">
		<img class = "w-1/5" src = "/public/mechasparrow.png"/>	
	</div>

	<h1 class = "text-3xl font-bold"> Hello. Welcome to my website. </h1>
	<p>

		Mechasparrow is just a mechanical bird who loves engineering, science, art, and exploring the world.

		This website is a centralized space of my explorations and creations. Please enjoy!
	</p>
</Page>