---
import Bloglink from "../layouts/bloglink.astro";
import Page from "../layouts/page.astro";
---

<Page>
	<h1 class = "font-bold text-2xl">
		The Mechasparrow's Nest
	</h1>

	<div>
		<p>This page is under construction</p>

		<div>

		</div>
	</div>
	
</Page>