---
import Bloglink from "../layouts/bloglink.astro";
import Page from "../layouts/page.astro";
---

<Page>
	<h1 class = "font-bold text-2xl">
		My Astro Learning Blog
	</h1>

	<div>
		<p>This is where I will post about my journey learning Astro.</p>

		<div>
			<Bloglink link="/posts/post-1/">Post 1</Bloglink>
		</div>
	</div>
	
</Page>