---
import Navlink from "./navlink.astro";
---

<div class="bg-cyan-700 drop-shadow-xl mx-auto pt-4 pb-4 px-2 text-white">
    <div class = "mx-auto w-1/2 text-center">
        <Navlink link="/">Home</Navlink>
        <Navlink link="/about">About</Navlink>
        <Navlink link="/blog">Blog</Navlink>
        <Navlink link="/public/resume.pdf">Resume</Navlink>
    </div>
</div>