---
import Navlinks from "./navlinks.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navlinks></Navlinks>

        <div class = "w-1/2 py-4 mx-auto">
            <slot/>
        </div>
	</body>
</html>
